
ul.hr {
    text-align:center; /*Выравнивание текста по центру.*/
    text-decoration: none;/*оформление текста,Отменяет все эффекты, в том числе и подчеркивания у ссылок,*/
    margin: 0; /* Обнуляем значение отступов */
    padding: 6px; /* Значение полей( расстояние от внутреннего края рамки элемента ) */
}
ul.hr li {
    display: inline; /* элемент отображается как встроенный. */
    margin-right: 5px;/*отступ от правого края элемента. */

    padding: 3px; /* Значение полей*/
}
a{
    text-decoration: none;
}

body {background: url("http://localhost/test_work1/styles/images/phon1.jpg")  repeat;
    background-size: 100%;
}

#navbar {
    top:0px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    border-radius: 0px 0px;
    width: 1279px;
    text-align: center;
    background-color:red;
}

#navbar {
    top:0px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    width: 100%;
    text-align: center;
    background-color: #1E4E95;
    color:red;
}

#navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 180px;
}

#navbar a:hover {
    border-radius: 20px 5px;
    background-color: #0066FF;
}

.head {
    height: 45px;
    left:0;
    right:0;
    top:0;
    width:100%;
    background-image: url(http://localhost/test_work1/styles/images/Rectangle_3.png);
    background-repeat:repeat;
    position:fixed;
}

.title{
    font-size: 25px;
    padding-top: 0px;
    text-align: center;
}

.footer {
    border-style: solid;
    border-width: 1px;
    background-image: url(http://localhost/test_work1/styles/images/Rectangle_3.png);
    float: none;
    width: 100%;
    padding-top:0px;
    text-align: center;
    height: 40px;
    position:static;

    left:0;
    bottom:0;
    clear: both;
    font-size: 12px;
}

.solid-yellow{
    background:#FFFFCC;
    color:#222222;
    padding:4px;
    text-align:center;
    border-radius: 20px;
    width: 330px;

}
.solid-ok{
    /*background:#008000;*/
    background:#CC0000;
    border-radius: 20px;
    width: 330px;
    margin-left: 39%;
    color:#FFFFFF;
    font-weight:bold;
    padding:4px;
    text-align:center;
}


